header {
  background-color: var(
    --color-top
  ); /* use js to add whatever background color of header content to this */
}

.header__content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 0.55rem;
  padding-bottom: 0.55rem;
  background-color: var(--color-top);
  border-radius: 0 0 10px 10px;
  position: relative;
  z-index: 9999;
}

.header__menu {
  display: none;
}

.header__logo {
  flex-grow: 1;
  font-family: var(--font-family-heading);
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-heading);
  text-decoration: none;
  cursor: pointer;
}

.header__bars {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5px;
  margin-left: auto;
  cursor: pointer;
}
.header__bars span {
  width: 25px;
  height: 3px;
  border-radius: 2px;
  background: var(--color-general);
  transition: all 0.3s ease;
}

/* Hamburger menu active */
.header__bars.active span:nth-child(1) {
  transform-origin: right;
  transform: rotate(-45deg) translate(-2px, -3.1px);
}

.header__bars.active span:nth-child(2) {
  opacity: 0;
}

.header__bars.active span:nth-child(3) {
  transform-origin: right;
  transform: rotate(45deg) translate(-2px, 3.5px);
}

/* xs */
@media (min-width: 475px) {
  .header__content {
    padding-top: 0.425rem;
    padding-bottom: 0.425rem;
  }

  .header__logo {
    font-size: 1.75rem;
  }
}

/* sm */
@media (min-width: 640px) {
  .header__content {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
  }

  .header__logo {
    font-size: 2rem;
  }
}

/* md */
@media (min-width: 768px) {
  .header__logo {
    display: none;
  }

  .header__content {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }

  .header__menu {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 2em;
  }

  .header__link {
    font-size: var(--size-xs);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-text);
    letter-spacing: 0.0625em;
    transition: color 0.3s;
  }

  .header__link:hover {
    color: var(--color-heading);
  }

  .header__bars {
    display: none;
  }
}

/* lg */
@media (min-width: 1024px) {
  .header__link {
    font-size: var(--size-sm);
  }
}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */
