.mobile-nav {
  position: absolute;
  top: var(--header-height);
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: var(--color-middle);
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.mobile-nav__menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.mobile-nav__link {
  font-size: var(--size-sm);
  text-decoration: none;
  font-weight: 600;
  letter-spacing: -0.05em;
  color: var(--color-text);
  text-transform: uppercase;
  transition: color 0.3s;
}

.mobile-nav__link:hover {
  color: var(--color-heading);
}
